<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
</head>
<body>
    <h1>Hello World</h1>
    <% 
        for(var i = 0; i <= 10; i++){
    %>

            <h3><%=i%></h3>
    <%  
        }
    %>
</body>
</html>