<!DOCTYPE html>
<html>
    <!-- Mirrored from admindesigns.com/demos/classic/theme/pages_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Dec 2017 17:05:03 GMT -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="AdminDesigns">
        <meta name="keywords" content="Classic Admin HTML5 Bootstrap 3 Admin Template UI Theme">
        <meta name="description" content="AdminDesigns - A Responsive HTML5 Admin UI Framework">
        <title>ClassicAdmin - A Responsive HTML5 Admin UI Framework</title>
        <link rel="shortcut icon" href="theme/assets/img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="theme/assets/admin-tools/admin-forms/css/admin-forms.css">
        <link rel="stylesheet" type="text/css" href="theme/assets/skin/default_skin/css/theme.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>